#lead {
    background: url('/QA-engineer/Image/image1.png') no-repeat;
    // -moz-background-size: 100%; /* Firefox 3.6+ */
    // -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    // -o-background-size: 100%; /* Opera 9.6+ */
    background-size: cover;
    padding-left: 20%;
    padding-bottom: 424px;
}

.lead {
    &__title {
        font-size: 48px;
        color: #FFFFFF;
        padding: 307px 0 20px;
    }

    &__text {
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 43px;
        width: 456px;
    }

    &__link {
        background-color: #FFFFFF;
        border-radius: 102px;
        padding: 13px 40px;
    }
}